.TestClassesList{
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    padding-top: 1ch;
    box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
    height: 82vh;
    overflow: auto;
}

.TestClassesList h3{
    padding-left: 1ch;
}

.TestClassListItem{
    box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
    width: 100%;
    height: 8vh;
    display: flex;
}

.TestClassListItemLabel{
    margin-left: 2ch;
    padding-top: 2ch;
    width:60%;
    flex:6;
}
.TestClassListItemSelected{
    background-color:#cce6ff;
}


.TestsOnDevicesContainer{
    margin-top: 1%;

}

.TestClassDetails{
    margin-left: -30px;
    width: 98%;
    padding-right: 30px;
    padding-top:1ch;
    border: 2.1vh solid rgba(204,230,255);
    height: 78vh;
    justify-content: center;
    align-items: center;
}
.TestClassDetails h3{
    margin-left: 1%;
}

.TestClassDetailsItemsWrapper{
    margin: 1%;
    overflow: auto;
    height: 65vh;
}
.TestClassListItem:hover{
    background-color:#79a6d2;
}

.TestClassesListItemsContainer{
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    min-height: 20vh; 
    overflow: auto;
}

.TestClassesListItemWrapper{
    display: flex;
    flex-direction: column;
    min-height: 16vh;
    
}