.TestClassesList{
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    padding-top: 1ch;
    box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
    height: 76.7vh;
    overflow: auto;
    margin-top: 0.2vh;
}

.TestClassesList h3{
    padding-left: 1ch;
}

.TestClassListItem{
    box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
    width: 100%;
    height: 8vh;
    display: flex;
}

.TestClassListItemLabel{
    margin-left: 2ch;
    padding-top: 2ch;
    width:60%;
    flex:6;
}
.TestClassListItemSelected{
    background-color:#cce6ff;
}


.TestsOnDevicesContainer{
    margin-top: 1%;
    width: 98%;
    padding-left: 1%;

}

.TestClassDetails{
    margin-left: -30px;
    width: 98%;
    padding-right: 25px;
    padding-top:1ch;
    border: 1vh solid rgba(204,230,255);
    height: 75vh;
    justify-content: center;
    align-items: center;
}
.TestClassDetails h3{
    margin-left: 1%;
}

.TestClassDetailsItemsWrapper{
    margin: 1%;
    overflow: auto;
    height: 65vh;
}
.TestClassListItem:hover{
    background-color:#79a6d2;
}

.TestClassesListItemsContainer{
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    min-height: 20vh; 
    overflow: auto;
}

.TestClassesListItemWrapper{
    display: flex;
    flex-direction: column;
    min-height: 16vh;
    
}

.DeviceInfoContainer{
    margin:1%;
    padding: 0.2%;
    display: flex;
    flex-direction: column;
    flex:1;
    box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.DeviceInfoHeader{
    flex:1;
}

.DeviceInfoDetails{
    flex:1;
    display: flex;
}

.DeviceIdDetails{
    flex:2.5;
}
.DeviceDetails2{
    flex:1;
    margin-left: 2vh;
}

.DeviceDetails3{
    flex:1;
}

.DeviceInfoWrapper{
    display: flex;
}

.TestDetailExpansionPanel{
    display: flex;
    flex-direction: column;
}
.TestDetailExpansionPanelItem{
    flex:1;
    padding: 1vh;
    display: flex;
}
.TestDetailExpansionPanelItemTitle{
    flex:1;

}

.TestDetailExpansionPanelItemDetail{
    flex:1;
}

.TestSummaryExpansionPanel{
    display: flex;
   
}
.TestSummaryExpansionPanelItem{
    padding-right:8vh;
    float: right;
}