.TestsList{
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    padding-top: 1ch;
    box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
    height: 76.7vh;
    overflow: auto;
    margin-top: 2vh;
}
.TestsList h3{
    padding-left: 1ch;
}

.TestsListContainer{
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    min-height: 20vh; 
    overflow: auto;
    margin-left:1vw;
}

.ScreenshotsContainer{
    width: 98%;
    padding-right: 25px;
    padding-top:1ch;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.ScreenshotsContainer h3{
    margin-left: 1%;
}

.ScreenshotsWrapper{
    margin: 1%;
    overflow: auto;
}
.ScreenshotsWrapper::after{
    clear: both;
    display: table;
}
.ScreenshotsWrapperItem{
    margin: 1%;
    flex:1;
    
}

.column img{
    height: 400px;
    width: 90%;
    object-fit: contain;
}

.column {
    float: left;
    width: 25%;
    padding-right:2vw;
    padding-left:2vw;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.TestsListContainerItem{
    margin-bottom:2vh;
}

