.App {
  text-align: center;
}
.App-logo {
  height: 50px;
  display: inline;
}


.App-header {
  height: 20px;
  padding-top: 5px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  
}

.App-title {
  font-size: 1.6em;
  clear: none; 
  display: inline; 
  color:purple;
  position: relative;
  top: -12px;
  margin-left: 0.5vw;
}

.App-intro {
  font-size: medium;
}

