@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300";

body {
	background: #eee;
}

.App {
	font-family: 'Source Sans Pro', 	sans-serif;
  text-align: center;
	background: #eee;
}
.App-logo {
  height: 50px;
  display: inline;
}


.App-header {
	padding: 10px 20px;
	text-align: left;
	display: flex;
	align-items: center;
}

.App-title {
  font-size: 1.2em;
  clear: none; 
  display: inline; 
  color: #000;
  margin-left: 0.5vw;
}

.App-intro {
  font-size: medium;
}

.CardContainer {
	background-color: #fff;
}
